<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>6303000509-so4jrkdurdj4bovgvioemmfkt07d5f0c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6303000509-so4jrkdurdj4bovgvioemmfkt07d5f0c</string>
	<key>API_KEY</key>
	<string>AIzaSyC9G7O8Lq6TJlgnYb3c_GPWyd4addrzfJM</string>
	<key>GCM_SENDER_ID</key>
	<string>6303000509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nirbhaysingh.BuddyWatch</string>
	<key>PROJECT_ID</key>
	<string>buddywatch-ddc22</string>
	<key>STORAGE_BUCKET</key>
	<string>buddywatch-ddc22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6303000509:ios:2845e76635bc3f9c8fd4d4</string>
	<key>DATABASE_URL</key>
	<string>https://buddywatch-ddc22.firebaseio.com</string>
</dict>
</plist>